<meta charset="utf-8" />
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				<h3 class="titulo-topo" ><strong>Rudolfe's</strong> Test</h3>
			</a>
		</div>
		<p class="navbar-text navbar-right">
			<button class="btn btn-info" type="submit" style="border-radius: 50%; background: #5f5959; margin-right: 20px; border-color: #b9b1b1;" onclick="logout()" >
				<span class="fa fa-sign-out-alt" aria-hidden="true"></span>
			</button>
			<img class="avatar" alt="{{rootCtrl.getApelidoUsuario()}}" title="{{rootCtrl.getApelidoUsuario()}}" data-ng-src="{{rootCtrl.getImagemUsuario()}}" >
		</p>
	</div>
</nav>
<script type="text/javascript">

	function logout() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
		    if (this.readyState == 4 && this.status == 200) {
		        var response = xhttp.responseText;
		        console.log("ok"+response);
		    }
		};

		xhttp.open("GET", window.location.origin + "/logout", true);
		xhttp.send();

		window.location.href = window.location.origin + "/login?logout";
	};// logout()

</script>